.characteristics__scale {
    margin: 30px 0;
}

.characteristics__scale_item {
    display: flex;
    align-items: center;
}

.characteristics__scale_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #666;
    margin-right: 10px;
    width: 90px;
}

.characteristics__scale_circle {
    display: flex;
}

.characteristics__scale_circle span {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid rgba(255,188,0,.27);
    margin: 0 6px;
}

.characteristics__scale_circle .characteristics__scale_circle_fill {
    background-color: rgba(255,188,0,.27);
    border-color: transparent;
}