.root {
  display: flex;
  padding: 0 14px;
}

.inputContainer {
  --input-border-width: 2px;

  width: 540px;
  display: flex;
  position: relative;
}

.input {
  height: 42px;
  width: 100%;
  border: var(--input-border-width) solid #efefef;
  border-radius: 4px;
  outline: none;
  padding-left: 14px;
  font-size: 14px;
  color: black;
}

.searchButton {
  position: absolute;
  right: var(--input-border-width);
  top: 0;
  height: calc(100% - var(--input-border-width) * 2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 0;
  background: transparent;
  outline: none;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 100%;
  right: 0;
}

.searchIcon {
  fill: var(--main-color);
  height: 16px;
  margin-right: 8px;
}

.searchResult {
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  background-color: var(--white);
  padding: 8px 8px 18px;
  z-index: 3;
  max-height: 320px;
  overflow: auto;
  box-shadow: 0 0 4px 0 #1e242898;
}

.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	border-radius: 50%;
  animation: rotate 2s ease-in-out infinite;
}

.loader {
	height: 40px;
	width: 40px;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		transform: rotateZ(360deg);
		opacity: 1;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		transform: rotateZ(00deg);
		opacity: 1;
	}
}

@media (max-width: 1023px) {
  .root {
    display: none;
  }
}
