.root {
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: var(--n-gray);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: calc(var(--footer-height) + 30px);
}

.menuItem {
	color: var(--white);
	padding: 10px 24px;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.menuIcon {
	width: 30px;
	height: 26px;
	margin-right: 12px;
	opacity: 0.85;
	fill: var(--n-yellow-1);
}
