.root {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.phone {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #232323;

	color: var(--red);
}

.phone:hover {
	text-decoration: underline;
}

.schedule {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	line-height: 18px;
	/* color: var(--gray800); */
	color: var(--second-color);
}

@media screen and (max-width: 1024px) {
	.root {
		display: none;
	}
}
