.root {
	border-radius: var(--border-radius);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.buy {
	width: 100px;
	background: var(--main-color);
	/* opacity: 0.9; */
	color: white;
	font-size: 13px;
	font-weight: bold;
	padding: 8px 16px;
	color: white;
	margin: auto;
	/* box-shadow: -2px 2px 0 0 var(--n-yellow-1); */
}

.buy:hover {
	/* opacity: 1; */
}
