.game {
	height: auto;
	width: 100%;
	background-color: var(--bg-white);
	padding: 12px 12px 24px;
}

.container {
	display: flex;
	flex-direction: column;
}

.top {
	/* background: linear-gradient(to top, var(--n-orange), var(--n-yellow-1)); */
	background: var(--bg-white);
	padding: 14px 12px 0;
	text-align: center;
}

.title {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: var(--n-black);
}

.subtitle {
	margin-top: 8px;
	font-size: 13px;
	line-height: 18px;
}

.icons {
	margin-top: 12px;
	display: flex;
	justify-content: center;
}

.slider {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 0 auto;
}

.sliderCatalog {
	display: flex;
	align-items: center;
	height: 76px;
	max-width: 100%;
	overflow: auto;
	position: relative;
}

.sliderImageItem {
	width: auto;
	height: 100%;
	margin-right: 8px;
}

.sliderMain {
	width: 100%;
	height: auto;
	margin-bottom: 8px;
	width: auto;
	height: 400px;
	margin: 0 auto 8px;
}

.description {
	font-size: 15px;
	line-height: 21px;
	margin: 10px 0;
}

.order {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.price {
	padding: 10px 14px;
	border-radius: 5px;
	background-color: var(--n-yellow);
	color: var(--n-black);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	align-items: center;
	font-size: 22px;
	flex-shrink: 0;
}

.orderBtn {
	padding: 12px;
	border-radius: 5px;
	background-color: var(--main-color);
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: none;
	font-size: 16px;
	color: var(--white);
	margin-left: 10px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	box-shadow: -2px 2px 0 0 var(--n-yellow-1);
	outline: none;
}

.orderIcon {
	fill: var(--white);
	margin-right: 10px;
}

.textBlock {
	display: flex;
	flex-direction: column;
	margin-top: 48px;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	padding: 0 16px 16px;
}

.textTitle {
	font-size: 18px;
	display: inline-flex;
	width: fit-content;
	align-self: center;
	color: var(--main-color);
	position: relative;
	top: -20px;
	line-height: 0px;
	padding: 20px 13px 0;
	font-weight: bold;
	background: white;
}

.textContent {
	padding-top: 18px;
	font-size: 15px;
	line-height: 20px;
}

.textContent h4 {
	font-weight: bold;
	margin-bottom: 14px;
	font-size: 16px;
}

.textContent p {
	margin-bottom: 10px;
}

.textContent ul {
	margin-bottom: 14px;
}

.textContent li {
	margin-left: 20px;
	margin-bottom: 4px;
	list-style: disc;
}

.textContent img {
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.game {
		display: flex;
	}

	.container {
		flex-direction: row;
		padding-top: 18px;
		margin-bottom: 20px;
	}

	.main {
		border-radius: 5px;
		overflow: hidden;
	}

	.slider {
		margin: 0 20px;
	}

	.sliderCatalog {
		height: auto;
		display: flex;
		flex-wrap: wrap;
	}

	.sliderImageItem {
    margin: 4px;
		width: 72px;
		cursor: pointer;
	}

	.icon {
		height: 36px;
		font-size: 12px;
	}

	.title {
		font-size: 22px;
		line-height: 32px;
	}
}

.successModal {
	height: 80px;
	top: 0;
	bottom: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
}

.successText {
	padding-left: 10px;
}
