
.root {
  /* --cell-spacing: 10px;
  --cell-count: 3;
  --basis: calc((100% - var(--cell-spacing) * (var(--cell-count) - 1)) / var(--cell-count));
  
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 0 0;
  flex-basis: var(--basis);
  margin: 0 0 var(--cell-spacing) var(--cell-spacing); */

  display: flex;
  height: 100%;
}

.left,
.right {
  flex-basis: 50%;
  height: 100%;
  border-radius: 4px;
}

.left {
  background: var(--white);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right {
  background: whitesmoke;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.imgContainer {
  padding: 20px;
  height: 440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.previewList {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
}

.previewImgContainer {
  margin: 5px;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
}

.previewImgContainer:first-of-type {
  margin-left: 0;
}

.previewImgContainer:last-of-type {
  margin-right: 0;
}

.previewImgContainer:hover {
  opacity: 1;
}

.previewImgContainer_active {
  opacity: 1;
}

.previewExtraCount {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: var(--main-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.previewImg {
  width: 100%;
  height: auto;
}

.right {
  flex-direction: column;
}

.text {
  background-color: var(--white);
  margin: 8px;
  border-radius: 4px;
  padding: 10px 20px;
}

.text_top {
  margin-bottom: 1px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.text_bottom {
  margin-top: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.title {
  font-family: 'Roboto Condensed';
  padding-right: 8px;
  font-weight: bold;

  letter-spacing: 0.2px;
  font-size: 22px;
  line-height: 32px;
  color: var(--black);
  letter-spacing: 0.56px;
}

.description {
  font-size: 13px;
  padding: 5px 0;
  color: #777;
  line-height: 16px;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 30%;
}

.icon {
  border-right: 1px solid whitesmoke;
}

.icon:last-of-type {
  border-right: none;
}

.iconImg {
  height: 40px;
}

.iconText {
  padding-top: 8px;
  text-align: center;
  font-size: 14px;
}

.priceContainer {
  display: flex;
  align-items: flex-end;
}

.priceLabel {
  font-size: 14px;
  margin-right: 20px;
}

.price {
  background: #ffbc0045;
  font-size: 24px;
  padding: 6px 10px 1px;
  line-height: 26px;
  border-radius: 4px;
  margin-right: 12px;
}

.priceCurrency {
  color: var(--gray800);
  font-size: 16px;
}

.buyButton {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-size: 16px;
  padding: 0 21px;
  width: auto;
}

/* modal */

.modal {
  height: 534px;
  width: 880px;
  border-radius: 4px;
}
