.root {
  display: flex;
  padding: 0 4px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.icon {
  height: 26px;
  width: 26px;
  fill: #1f1b12;
  transition: fill 0.1s ease-in;
}

.text {
  padding-left: 8px;
  transition: color 0.1s ease-in;
}

.root:hover .icon {
  fill: var(--second-color);
}

.root:hover .text {
  color: var(--second-color);
}