.popup {
    width: 80%;
    margin: auto;
    height: 500px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  
  .popup__slider_img {
    width: 500px;
  }
  
  .popup__slider {
    margin: 0 auto;
    width: 500px;
  }