.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 12px;
}

.img {
	margin: 0 0 8px;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logoTextContainer {
	width: 190px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logoText {
	width: 125%;
	margin-top: -12px;
}

@media screen and (min-width: 480px) {
	.logoText {
		margin-top: -10px;
	}
}
