@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background: var(--bg-main);
	color: var(--main-dark-color);
}

html,
body {
	height: 100%;
}

.main {
	flex-grow: 1;
	flex-basis: 100%;
}
