/* VARIABLES */

:root {
	/* colors */
	--bg-main: #f0f0f0;
	--bg-white: #fff;

	--main-color: #fd6000;
	--second-color: #fec52b;
	--main-dark-color: #04082e;
	--main-color-hl: #55b6b924;

	--black: #000;
	--gray: #848484;
	--gray800: #4d4d4d;
	--white: #fff;
	--red: #ff6969;
	/* --white: #e2edf3; */
	--green: #78ab4f;
	--blue: #448eb4;

	--link: #7bb4d1;
	--link-hovered: #f3f3f3;

	/* smth */
	--sidebar-brs: 6px;
	--border-radius: 4px;

	/* NARUTO THEME */
	--n-gray: #1e2427;
	--n-black: #06080a;
	--n-red: #f72405;
	--n-yellow: #fdf4af;
	--n-yellow-1: #edb870;
	--n-orange: #e86e38;

	--nav-height: 68px;
}
