.root {
	--cell-spacing: 10px;
	--cell-count: 1;
	--basis: calc(
		(100% - var(--cell-spacing) * (var(--cell-count) - 1)) / var(--cell-count)
	);

	background: var(--white);
	border-radius: var(--border-radius);
	padding: 10px 10px 0;
	display: flex;
	flex-direction: column;

	flex: 0 0;
	flex-basis: var(--basis);
	margin: 0 0 var(--cell-spacing);
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.imgContainer {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.img {
	height: auto;
	width: 200px;
	max-width: 100%;
	max-height: 100%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.title {
	--line-height: 18px;
	font-family: Roboto;
	letter-spacing: 0.2px;
	font-size: 13px;
	line-height: var(--line-height);
	color: var(--n-black);
	margin-bottom: 4px;
	max-height: var(--line-height);
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.prices {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto Condensed';
	margin-bottom: 4px;
}

.price {
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

/* .salePrice {
	font-size: 12px;
	color: var(--red);
	text-decoration: line-through;
} */

.currency {
	margin-left: 2px;
	font-weight: normal;
	font-size: 12px;
	line-height: 13px;
}

.bottom {
	border-top: 2px solid #f0f0f0;
	margin-top: 10px;
	margin-left: -13px;
	margin-right: -13px;
	padding-top: 14px;
	padding-bottom: 10px;
	flex-direction: row;
}

.tooltips {
	/* display: none; */
	opacity: 0;
}

@media screen and (min-width: 1024px) {
	.root {
		--cell-count: 4;

		padding: 10px 10px 2px;
		flex: 0 0;
		flex-basis: var(--basis);
		margin: 0 0 var(--cell-spacing) var(--cell-spacing);
	}

	.root:nth-of-type(4n - 3) {
		margin-left: 0;
	}

	.imgContainer {
		height: 220px;
		width: 100%;
		position: relative;
	}

	.img {
    width: 200px;
    height: auto;
	}

	.tooltips {
		height: 40px;
		margin: auto;
		top: 0;
		bottom: 0;
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		width: auto;
		transition: opacity 0.1s ease-in;
		opacity: 0;
	}

	.imgContainer:hover .tooltips {
		opacity: 1;
	}

	.eyeIconContainer {
		width: 40px;
		height: 40px;
		box-sizing: border-box;
		border: 1px solid var(--n-black);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--white);
		cursor: pointer;
	}

	.eyeIcon {
    height: 18px;
    fill: var(--n-black);
	}
}

.successModal {
	height: 80px;
	top: 0;
	bottom: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
}

.successText {
	padding-left: 10px;
}