.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  margin: auto;
  width: 800px;
  height: 72vh;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  outline: none;
}

.close {
  position: absolute;
  top: -28px;
  right: -26px;
  color: var(--white);
  height: 28px;
  font-size: 35px;
  width: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
