:root {
	--footer-height: 54px;
}

.root {
	position: fixed;
	width: 100%;
	bottom: 0;
	display: flex;
	height: var(--footer-height);
	padding: 6px;
	box-sizing: border-box;
	justify-content: space-between;
	background-color: var(--n-gray);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	z-index: 30;
}

.root.active {
	box-shadow: 0 5px 20px 10px var(--n-yellow-1);
}

.root.hidden {
	display: none;
}

.side {
	height: 100%;
	width: calc(100% / 2 - 48px / 2);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.searchContainer {
	height: 66px;
	width: 66px;
	background-color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -18px;
	border: 5px solid var(--n-gray);
	outline: none;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 100%;
	width: 50px;
	border: none;
	background: transparent;
	outline: none;
}

.icon {
	fill: var(--white);
	transition: fill 0.1s ease-in-out;
}

.icon.active {
	fill: var(--n-yellow-1);
}

.button:disabled {
	opacity: 0.5;
}

.padding {
	padding-bottom: var(--footer-height);
}

/* body */

.rootExtender {
	overflow: hidden;
}

@media screen and (min-width: 1024px) {
	.root {
		display: none;
	}

	.padding {
		padding-bottom: 0;
	}
}
