.root {
	background-color: var(--n-gray);
}

.container {
	display: flex;
	justify-content: center;
	padding: 8px 0;
	align-items: center;
}

@media screen and (min-width: 1024px) {
	.root {
		margin-bottom: calc(var(--nav-height) / 2);
	}

	.container {
		padding: 24px 0 0;
	}

	.container {
		justify-content: space-between;
	}
}
