
.root {
	display: none;
}

@media screen and (min-width: 1024px) {
	.root {
    margin-top: calc(var(--nav-height) * -0.5 + 32px);
    height: var(--nav-height);
    position: relative;
    bottom: calc(var(--nav-height) * -0.5);
    background-color: var(--main-color);
		border-radius: 10px;
    display: flex;
    z-index: 2;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 14px;
  }
  
  .navItem {
    height: 100%;
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: color 0.1s ease-in-out;
  }

  .navItem:hover {
    color: var(--second-color);
  }
}
