.root {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  border-left: 1px solid whitesmoke;
  padding: 0 14px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: whitesmoke;
}

.button:last-of-type {
  border-right: 1px solid whitesmoke;
}