.root {
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: calc(var(--footer-height) + 30px);
	background: var(--white);
	overflow: auto;

	--root-x-padding: 6px;
	--input-height: 40px;
	--back-button-width: 40px;
}

.inputContainer {
	width: 100%;
	padding: var(--root-x-padding);
	display: flex;
	position: relative;
	flex-shrink: 0;
	background: var(--n-gray);
}

.button {
	position: absolute;
	border: none;
	background: transparent;
	height: var(--input-height);
	padding: 0;
}

.backButton {
	width: var(--back-button-width);
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	left: var(--root-x-padding);
}

.backIcon {
	width: 20px;
	fill: var(--n-gray);
	opacity: 0.5;
	height: 100%;
}

.clearButton {
	width: var(--back-button-width);
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	right: var(--root-x-padding);
}

.clearIcon {
	width: 18px;
	fill: var(--n-gray);
	opacity: 0.5;
	height: 100%;
}

.input {
	-webkit-appearance: none;
	/* for ios */
	height: var(--input-height);
	width: 100%;
	padding: 4px 14px 4px calc(var(--back-button-width));
	border: none;
	font-size: 16px;
	color: var(--n-gray);
	outline: none;
	border-radius: 0;
	background: var(--white);
	border-radius: 4px;
}

.input::placeholder {
	opacity: 0.5;
	color: var(--n-gray);
}

.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 18px auto;
	background-color: var(--n-gray);
	padding: 2px;
	border-radius: 50%;
	animation: rotate 2s ease-in-out infinite;
}

.loader {
	height: 40px;
	width: 40px;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		transform: rotateZ(360deg);
		opacity: 1;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		transform: rotateZ(00deg);
		opacity: 1;
	}
}

.emptyMessage {
	padding: 10px 20px;
	font-size: 14px;
	line-height: 24px;
	color: var(--n-red);
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
