.root {
	width: 100%;
	background-color: var(--n-gray);
	color: var(--white);
	padding: 40px 0;
}

.container {
	display: flex;
	justify-content: space-between;
}

.column {
	flex: 0 0 20%;
}

.title {
	font-size: 14px;
	letter-spacing: 0.4px;
	font-weight: bold;
	color: #949494;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.link {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 6px;
	display: block;
	opacity: 0.85;

	transition: opacity 0.1s ease-out;
}

.link:hover {
	text-decoration: underline;
	opacity: 1;
}

@media screen and (max-width: 1024px) {
	.root {
		display: none;
	}
}
