.root {
	display: flex;
	padding: 6px;
	flex-shrink: 0;
	cursor: pointer;
}

.root + .root {
	border-top: 1px solid #e2e2e2;
}

.img {
	height: 44px;
	margin-right: 10px;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100%;
	overflow: hidden;
}

.title {
	font-size: 14px;
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.price {
	font-weight: bold;
	color: var(--n-orange);
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
}

@media screen and (min-width: 1024px) {
	.text {
		flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
	}

	.title {
		font-size: 16px;
	}

	.price {
		font-size: 16px;
	}
}