.root {
	border-radius: 4px;
	overflow: hidden;
	height: 36px;
	width: 36px;
	position: relative;
	background: #fd6000;
}

@media screen and (min-width: 480px) {
	.root {
		height: 50px;
		width: 50px;
	}
}

.p1,
.p2 {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.p1 {
	background-image: -webkit-linear-gradient(
		left top,
		#edb872 0%,
		#edb870 50%,
		transparent 50%,
		transparent
	);
	z-index: 2;
}

.p2 {
	z-index: 3;
	background-image: -webkit-linear-gradient(
		right bottom,
		#fd6003 0%,
		#fd6000 50%,
		transparent 50%,
		transparent
	);
}

.p1b,
.p2b {
	content: '';
	height: 19%;
	width: 19%;
	position: absolute;
}

.p1b {
	background-color: #edb870;
	background-image: -webkit-linear-gradient(
		bottom right,
		#edb871 0%,
		#edb870 50%,
		#edb870 50%,
		#edb869
	);
	left: 0;
	bottom: 0;
	z-index: 4;
}

.p2b {
	background-image: -webkit-linear-gradient(
		bottom right,
		#fd6000 0%,
		#fd6000 50%,
		#fd6000 50%,
		#fd6001
	);
	right: 0;
	top: 0;
	z-index: 2;
}

.p2t,
.p1t {
	content: '';
	height: 40%;
	width: 40%;
	position: absolute;

	border-bottom-right-radius: 4px;
	bottom: 19%;
	right: 19%;
	z-index: 10;
}

.p1t {
	top: 19%;
	left: 19%;
	background-image: -webkit-linear-gradient(
		left top,
		#fff 0%,
		#fff 50%,
		transparent 50%,
		transparent
	);
	border-top-left-radius: 4px;
}

.p2t {
	bottom: 19%;
	right: 19%;
	background-image: -webkit-linear-gradient(
		right bottom,
		#fff 0%,
		#fff 50%,
		transparent 50%,
		transparent
	);
	border-bottom-right-radius: 4px;
}

.dark .p1t {
	background-image: -webkit-linear-gradient(
		left top,
		#1e2427 0%,
		#1e2427 50%,
		transparent 50%,
		transparent
	);
}

.dark .p2t {
	background-image: -webkit-linear-gradient(
		right bottom,
		#1e2427 0%,
		#1e2427 50%,
		transparent 50%,
		transparent
	);
}
