.root {
  display: flex;
  flex-direction: column;
}

.title {
  background: var(--main-color);
  border-top-left-radius: var(--sidebar-brs);
  border-top-right-radius: var(--sidebar-brs);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  font-size: 13px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.34px;
}

.menuIcon {
  margin-right: 8px;
  margin-left: -4px;
  height: 12px;
}

.list {

  /* border: 1px solid whitesmoke; */
  border-top: none;
  background: var(--bg-white);
  padding-bottom: 6px;
  border-bottom-left-radius: var(--sidebar-brs);
  border-bottom-right-radius: var(--sidebar-brs);
}