.root {
	display: flex;
}

.infoCell + .infoCell:before {
	content: '';
	position: absolute;
	height: 10px;
	width: 1px;
	background-color: #00000033;
	display: block;
	left: 0;
}

.infoCellBg {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #d5d5d5;
}

.iconImg {
	width: auto;
	height: 100%;
	z-index: 1;
}

.iconText {
	position: absolute;
	background: #ffffffe6;
	padding: 0px 4px;
	line-height: 14px;
	border-radius: 4px;
	font-weight: bold;
	bottom: -7px;
	z-index: 1;
	white-space: nowrap;
}

.infoCell + .infoCell:before {
	content: '';
	position: absolute;
	height: 10px;
	width: 1px;
	background-color: #00000033;
	display: block;
	left: 0;
}

.infoCell {
	height: 26px;
	width: auto;
	margin: 0 0 6px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	position: relative;
	padding: 0 12px;
	font-size: 11px;
}

.infoCellBg {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #d5d5d5;
}

.iconImg {
	width: auto;
	height: 100%;
	z-index: 1;
}

.iconText {
	position: absolute;
	background: #ffffffe6;
	padding: 0px 4px;
	line-height: 14px;
	border-radius: 4px;
	font-weight: bold;
	bottom: -7px;
	z-index: 1;
	white-space: nowrap;
}
