
.root {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--bg-main);
}

.root:last-of-type {
  border-bottom: none;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 20px;
  padding: 8px 12px;
  font-size: 13px;
  letter-spacing: 0.14px;
  font-weight: 500;
  font-family: 'PT Sans';
  background-color: var(--bg-white);
  transition: background-color 0.1s ease-in-out;
}

.link:hover {
  background-color: var(--link-hovered);
}

.childMenu {
  position: absolute;
  left: 100%;
  top: 100%;
  width: 100%;
  background: var(--bg-white);
}