.root {
	height: 100%;
	padding: 0 24px;
	align-items: center;
	overflow: auto;
	padding-bottom: 30px;
	position: relative;
}

.title {
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	padding-top: 24px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: var(--main-dark-color);
}

.productImg {
	width: 200px;
	display: block;
	margin: 14px auto 0;
}

.productTitle {
	font-size: 14px;
	line-height: 22px;
	padding-top: 8px;
	text-align: center;
	text-decoration: underline;
	color: #454545;
}

.total {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.totalPrice {
	font-weight: bold;
}

.currency {
	font-size: 80%;
}

.sendBtn {
	height: 38px;
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	border: none;
	outline: none;
	color: var(--white);
	font-size: 14px;
	margin: 12px auto 0;
	border-radius: 4px;
	cursor: pointer;
}

.sendBtn:disabled {
	opacity: 0.5;
	cursor: initial;
}

/* modal */

.modal {
	height: 100%;
	max-height: none;
	width: 100%;
	background-color: var(--white);
	border-radius: 4px;
	border-radius: none;
}

.closeModal {
	top: 5px;
	right: 5px;
	color: var(--gray);
	font-size: 40px;
}

@media screen and (min-width: 1024px) {
	.modal {
		height: 680px;
		width: 540px;
	}

	.title {
		font-size: 24px;
		line-height: 32px;
		padding-top: 12px;
	}
}
