.root {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.root + .root {
	margin-top: 10px;
}

.label {
	text-align: left;
	width: 100%;
	font-size: 13px;
	line-height: 24px;
}

.input {
	border: 1px solid #eae8e8;
	width: 100%;
	border-radius: 4px;
	padding: 7px 10px;
	font-size: 13px;
	outline: none;
}

.input:disabled {
	opacity: 0.5;
}

.required {
	color: var(--n-red);
}

.input::placeholder {
	color: #919191;
}