.root {
  width: 100%;
}

.container {
  padding: 14px 0;
  display: flex;
}

.main {
  flex-grow: 1;
  flex-basis: 100%;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    padding: 18px 0;
    display: flex;
  }

  .main {
    padding-bottom: 0;
  }
}