.root {
    padding-top: 18px;
    height: 340px;
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.title {
    width: 100%;
    padding-right: 0;
    box-sizing: border-box;
    color: white;
    font-family: Nunito;
    text-align: right;
    font-size: 46px;
    line-height: 40px;
    font-weight: 700;
    text-shadow: 5px 5px 2px #af8617;
    position: relative;
    right: 48px;
    z-index: 1;
}

.titleBig {
    display: block;
    font-size: 64px;
    line-height: 56px;
}

.banner {
    position: absolute;
    height: 320px;
    width: auto;
    top: 0;
    left: 0;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .root {
        display: none;
    }
}