.layout {
  margin-top: calc(var(--nav-height) / -2);
  background-color: var(--white);
}

.imgContainer {
  height: 240px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  z-index: -0;
}

/* .imgContainer:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--n-black);
  opacity: 0.3;
} */

.img {
  width: 100%;
}

.container {
  padding: 14px 0;
  display: flex;
}

.root {
  width: 800px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  flex-basis: 100%;
  padding-bottom: 60px;
}

.title {
  font-size: 42px;
  letter-spacing: 0.7px;
  font-weight: bold;
  text-align: center;
  margin: 34px;
}

.root p {
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0;
}

.root h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin: 24px 0;
}

.root h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin: 20px 0;
}

.root li {
  margin: 5px 0;
}

@media screen and (min-width: 480px) {
  .container {
    padding: 30px 0 60px;
    display: flex;
  }

  .main {
    padding-bottom: 0;
  }
}